# Virtual Environment
venv/
.venv/
env/

# Django sensitive files
db.sqlite3
.env
*.log

# Python cache
__pycache__/
*.pyc

# Media and Static folders (optional, usually kept local or on cloud storage)
/media/

# Local deployment scan notes
docs/
