 {% load static %}
<!--start-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff8c00;">
  <!-- College Logo and Title Container -->
  <a class="navbar-brand d-flex align-items-center" href="#">
    <!-- FIXED: fixed 'auto' typo in height attribute -->
    <img src="{% static 'img/KVTC.png' %}" width="100" class="d-inline-block align-top mr-2" alt="College Logo">
    <span class="font-weight-bold text-wrap" style="max-width: 250px;">KMET TECHNICAL AND VOCATIONAL COLLEGE</span>
  </a>

  <!-- FIXED: Removed the <br/> tag that was interrupting the flexbox navbar flow -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Left Aligned Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Our Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="{% url 'cdacccourse' %}" class="dropdown-item">CDACC COURSES</a>
          <a href="{% url 'nitacourses' %}" class="dropdown-item">NITA COURSES</a>
        </div>
      </li>
    </ul>

    <!-- Far Right Aligned Contact & Socials Group -->
    <div class="navbar-nav align-items-center ml-auto mr-3">
      <!-- Contact Number -->
      <span class="navbar-text text-white mr-3">
        Call: <a href="tel:+254711659371" class="text-white font-weight-bold">+254 711659371</a>
      </span>
      
      <!-- Social Media Links -->
      <a class="nav-link p-2 text-white" href="https://www.facebook.com/KMETVocational" title="Facebook">
        <span style="background-color: rgba(255,255,255,0.2); padding: 5px 10px; border-radius: 4px;">Facebook</span>
      </a>
      <a class="nav-link p-2 text-white" href="mailto:vocational@kmet.co.ke" title="Email KMET">
        <span style="background-color: rgba(255,255,255,0.2); padding: 5px 10px; border-radius: 4px;">Email: vocational@kmet.co.ke</span>
      </a>
    </div>
  </div>
</nav>
<!-- 1. jQuery library (required for Bootstrap 4) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- 2. Popper JS (required for dropdown submenus) -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- 3. Core Bootstrap JS framework -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--end-->
 
 
